background-color: #fefdf9;
header-color: #9dccc9;


Fonts:

<link href="https://fonts.googleapis.com/css2?family=Allura&family=Amatic+SC&display=swap" rel="stylesheet">

font-family: 'Allura', cursive;
font-family: 'Amatic SC', cursive;
