.nav {
  background-color: lavender;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 10px;

  .hamburger {
    margin-top: 10px;

    div {
      height: 2px;
      width: 20px;
      background-color: black;
      margin-top: 3px;
    }
  }

  ul {
    padding-left: 25px;

    a {
      display: block;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 600px) {
  .nav {
    position: relative;
    top: auto;
    width: auto;
    text-align: center;

    .hamburger {
      display: none;
    }

    ul a {
      display: inline;
      padding: 2em;
    }
  }
}
